/* 1230 - 1559 */

@media screen and (max-width: 1599px) {

  .main {
    .side-image-main {

      img {
        width: 14.8%;
        bottom: -355px;
      }
    }
  }

  .about {

    .container {
      .about-description {
        .about-title {
          transform: translateX(30px);
        }

        .about-text {

          &:nth-child(2) {
            transform: translate(30px, 0);
          }

          &:nth-child(3) {
            transform: translate(270px, -25px);
            max-width: 390px;
          }
        }
      }
    }

    .side-image-about {

      img {
        width: 16.9%;
        bottom: -310px;
      }
    }
  }

  .work {

    .container {

      .work-items {

        .work-item-outer {


          &:nth-child(1) {
            transform: translate(-300px, 0);
          }

          &:nth-child(2) {
            transform: translate(143px, 0);
          }

          &:nth-child(3) {
            transform: translate(-122px, 250px);
          }

          &:nth-child(4) {
            transform: translate(320px, 250px);
          }
        }
      }
    }

    .side-image-work {

      img {
        width: 18.7%;
        bottom: -100px;
      }
    }
  }

  .footer {
    .container {
      width: 1000px;
    }

    .side-image-footer {

      img {
        width: 9%;
      }
    }
  }


}


/* 1024 - 1229 */

@media screen and (max-width: 1229px) {

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .about {

    .container {

      .about-description {

        .about-text {

          &:nth-child(3) {

            max-width: 280px;
          }
        }
      }
    }
  }

  .plants {

    .container {

      .show {

        grid-template-columns: 385px 275px 275px;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 26px;
      }
    }
  }

  .gift {

    .container {

      .gift-description {
        max-width: 450px;
      }
    }
  }

  .work {

    .container {

      .work-items {
        .work-item-outer {

          &:nth-child(1) {
            transform: translate(-270px, 0px);
          }

          &:nth-child(4) {
            transform: translate(290px, 250px);
          }
        }
      }
    }
  }

  .service .container .service-info .service-items .service-item .service-description .service-item-text {
    font-size: 15px;
  }

  .footer {
    .container {
      max-width: 980px;

      .rights {
        margin-left: 75px;
      }
    }
  }


}


/* 830 - 1023 */
@media screen and (max-width: 1023px) {

  .btn {
    font-size: 12px;
  }

  .container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .header {

    .container {

      .logo {
        a {
          img {
            width: 90%;
          }
        }
      }

      .menu {

        ul {
          .menu-item {
            padding-left: 26px;

            a {
              font-size: 12px;
            }
          }
        }
      }

      .header-action {

        .header-button {
          width: 132px;
        }
      }
    }
  }

  .main {

    padding-bottom: 45px;

    .container {
      flex-direction: column;

      .main-info {
        text-align: center;

        h1 {
          font-size: 40px;
        }

        .main-text {
          font-size: 18px;
          margin: 30px auto 0;
        }

        .main-action {
          .button-main {
            margin-top: 30px;
          }
        }
      }

      .main-image {
        padding-top: 35px;
        text-align: center;

        img {
          width: 50%;
        }
      }
    }
  }

  .about {
    .container {
      .about-images {
        .about-image {
          text-align: center;
          width: 215px;
          transform: translate(0px, 26px);

          img {
            width: 100%;
          }

          &:last-child {
            transform: translate(50px, -113px);
          }
        }
      }

      .about-description {
        .about-title {
          transform: translateX(30px);
        }

        .about-text {

          font-size: 16px;

          &:nth-child(2) {
            max-width: 300px;
            transform: translate(30px, 27px);
          }

          &:nth-child(3) {
            transform: translate(90px, -30px);
          }
        }
      }
    }
  }

  .plants {
    .container {
      .show {
        grid-template-columns: 355px 355px;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 16px;

        .lead-product {
          .lead-product-title {
            margin: 50px 0 30px 30px;
          }

          .lead-product-text {
            margin: 50px 0 50px 30px;
          }

          .lead-product-shop {
            margin: 50px 30px 30px;
          }
        }
      }
    }
  }

  .gift {

    .container {

      grid-template-columns: 370px 340px;

      .gift-description {

        .gift-title {
          margin: 0 0 50px;
        }
      }

      .gift-leaf-right {

        img {
          right: -390px;
        }
      }
    }
  }

  .work {

    .container {

      .work-items {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        .work-item-outer {

          position: static;
          transform: none;
          width: 620px;

          .work-item {
            width: 600px;
            padding: 10px 0;
          }

          &:nth-child(1) {
            position: static;
            transform: none;
            order: 1;
          }

          &:nth-child(2) {
            position: static;
            transform: none;
            order: 3;
          }

          &:nth-child(3) {
            position: static;
            transform: none;
            order: 2;
          }

          &:nth-child(4) {
            position: static;
            transform: none;
            order: 4;
          }
        }
      }
    }
  }

  .service {

    .container {
      flex-direction: column;

      .service-info {
        margin: 10px auto;

        &:first-child {
          margin: 10px auto;
        }
      }
    }
  }

  .footer {

    .container {
      grid-template-columns: 1fr 1fr 1fr;
      //grid-template-rows: repeat(4, 1fr);
      //width: 700px;
      max-width: 670px;

      .rights {
        order: 1;
        margin-left: 30px;
      }

      .phones {
        //grid-column: 2 / 3;
        //grid-row: 2 / 3;
        order: 2;
        justify-self: center;
        margin-top: 15px;
      }


      .policy {
        grid-column: auto;
        order: 3;
        margin-left: 25px;
      }
    }
  }

}

/* 768 - 829 */

@media screen and (max-width: 829px) {

  .popup-order {

    .order {
      width: 700px;
    }
  }
}

/* 425 - 767 */
@media screen and (max-width: 767px) {

  .container {
    padding-left: 20px;
    padding-right: 20px;
  }


  .header {
    .container {
      .burger {
        display: block;
        cursor: pointer;
      }

      .menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        z-index: 5;
        background-color: @background-color-header;

        .close {
          display: block;
          width: 20px;
          height: 20px;
          fill: @background-color-main;
          position: absolute;
          top: 20px;
          right: 20px;
          cursor: pointer;
        }

        ul {
          flex-direction: column;
          align-items: center;
          margin: 0 auto;

          .menu-item {
            margin: 15px 0;
            padding: 0;

            &:hover {
              border-bottom-color: @background-color-main;
            }

            a {
              font-size: 26px;
              color: @background-color-main;
              line-height: 1.25;
            }
          }
        }
      }

      .menu.open {
        display: flex;
        align-items: center;
      }

      .header-action {
        display: none;
      }

      .header-action-phone {
        display: block;
        cursor: pointer;
      }
    }
  }

  .main {
    .container {
      .main-info {
        .main-advantages {
          grid-template-columns: 1fr;
          margin-top: 40px;

          .advantage-item {
            display: flex;
            align-items: center;
            //margin-bottom: 10px;
            //margin-left: 10%;
            margin: 0 15% 10px;


            .advantage-image {
              img {
                width: 40px;
              }
            }

            .advantage-text {
              text-align: left;
              padding-left: 20px;
              padding-top: 0;
            }
          }
        }
      }
    }

    .side-image-main {
      img {
        bottom: -250px;
      }
    }
  }

  .about {

    padding: 60px 0;

    .container {
      flex-direction: column;
      align-items: center;
      justify-content: start;

      .about-images {
        padding: 30px 0;
        order: 2;

        .about-image {
          width: 155px;
          height: 212px;
          transform: translate(-50px, -5px);

          &:last-child {
            transform: translate(50px, -110px);
          }
        }
      }

      .about-description {
        order: 1;

        .about-title {
          text-align: center;
        }

        .about-title {
          transform: none;
        }

        .about-text {
          font-size: 14px;
          max-width: 300px;

          &:nth-child(2) {
            transform: translate(10px, 35px);
            margin-bottom: 30px;
            //max-width: 200px;
          }

          &:nth-child(3) {
            transform: translate(58px, 25px);
            margin-bottom: 30px;
            //width: 150px;
          }
        }
      }
    }

    .side-image-about {
      img {
        bottom: 150px;
      }
    }
  }

  .plants {
    padding: 60px 0 47px;

    .container {

      .plants-menu {
        ul {
          justify-content: space-around;

          .plants-menu-item {
            a {
              font-size: 18px;
            }
          }
        }
      }

      .show {
        grid-template-columns: 355px;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 10px;


      }
    }
  }

  .gift {
    padding: 96px 0 80px;

    .container {

      grid-template-columns: 370px;
      justify-content: center;

      .gift-image {
        img {
          width: 80%;
        }
      }

      .gift-description {
        .gift-action {
          text-align: center;
        }
      }
    }

    .gift-leaf-left {
      img {
        position: absolute;
        bottom: -184px;
        left: -437px;
      }
    }

  }

  .work {

    padding: 60px 0;

    .container {

      .work-items {

        .work-item-outer {
          width: 380px;

          .work-item {

            .work-item-content {
              .work-item-image {

                padding-top: 12px;

                img {
                  width: 40px;
                }
              }

              .work-item-description {
                padding-bottom: 20px;

                .work-item-text {
                  min-height: 115px;
                }
              }
            }
          }
        }
      }
    }

    .side-image-work {
      img {
        bottom: -150px;
      }
    }
  }

  .gallery {
    padding: 0;

    .container {

      .gallery-content {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 26px;

        .gallery-item {

          &:nth-child(3) {

            grid-row: 1/3;
            grid-column: 2/3;
          }
        }
      }
    }
  }

  .feedback {
    padding: 30px 0;
  }

  .service {
    padding: 0;

    .container {
      .service-info {
        .service-items {
          .service-item {

            .service-item-icon {
              align-self: start;

              img {
                width: 50px;
              }
            }

            .service-description {
              .service-item-title {
                line-height: 1.2;
                margin-bottom: 15px;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    margin-top: 30px;

    .container {

      grid-template-columns: 1fr;
      max-width: 380px;
      justify-items: center;

      .footer-action {
        justify-self: center;
        margin: 15px 0;
      }

      .policy {
        padding-top: 20px;
      }

      .rights {
        order: 4;
        padding-top: 20px;
      }
    }

    .side-image-footer {
      img {
        width: 20%;
      }
    }
  }

  .popup-callme {
    display: none;
    justify-content: center;

    .callme {
      grid-template-columns: 280px;
      width: 280px;
      max-width: none;

      .callme-content {
        padding: 21px 5px 15px 6px;

        .callme-order {
          text-align: center;

          .callme-title {
            font-size: 25px;
            margin-top: 35px;
          }

          .callme-input {
            width: 240px;
          }

          .callme-input-error {
            padding-left: 0;
          }
        }

        .callme-thankyou {
          text-align: center;

          .thankyou-text {
            font-size: 18px;
            margin: 60px 17px;
          }
        }
      }

      .callme-image {

        img {
          width: 20%;
          padding-bottom: 12px;
        }
      }

      .callme-quit {

        top: 10px;
        right: 10px;
      }
    }
  }

  .popup-order {
    display: none;
    justify-content: center;

    .order {

      grid-template-columns: 280px;
      width: 280px;
      max-width: none;

      .order-content {
        padding: 51px 10px 20px;
        text-align: center;

        .order-title {
          font-size: 22px;
          margin-bottom: 10px;
        }

        .order-subtitle {
          margin-bottom: 15px;
          padding: 0 15px;
          font-size: 13px;
          line-height: 1.2;
        }

        .order-form-title {
          margin-bottom: 10px;
        }

        .order-input {
          width: 245px;
        }

        .order-input-error {
          text-align: left;
          padding-left: 32px;
        }
      }

      .order-image {
        margin-top: 0;

        img {
          width: 30%;
        }
      }

      .order-quit {
        top: 10px;
        right: 10px;

        img {
          width: 18px;
        }
      }

    }

    .order-thankyou {
      grid-template-columns: 280px;
      max-width: none;
      width: 280px;

      .order-thankyou-content {
        padding: 60px 13px 170px;

        .order-thankyou-title {
          font-size: 22px;
          margin-bottom: 25px;
        }

        .order-thankyou-text {
          font-size: 13px;
          width: 240px;
        }

        .order-thankyou-action {
          .button-order-thankyou {
            width: 210px;
            font-size: 12px;
          }
        }
      }


      .order-quit {
        top: 15px;
        right: 15px;

        img {
          width: 18px;
        }
      }

    }


  }


}

/* 375 - 424 */
@media screen and (max-width: 424px) {

  .main {

    .container {
      .main-info {
        h1 {
          font-size: 29px;
        }

        .main-text {
          font-size: 14px;
        }
      }
    }

    .side-image-main {
      img {
        bottom: -100px;
      }
    }
  }

  .about {
    .container {
      .about-description {
        .about-title {
          font-size: 29px;
          margin-bottom: 0;
        }

        .about-text {

          &:nth-child(3) {
            transform: translate(9px, 25px);
          }
        }
      }
    }
  }

  .plants {

    .container {

      .plants-title {
        font-size: 29px;
      }

      .show {
        grid-template-columns: 280px;

        .lead-product {
          .lead-product-text {

            width: 240px;
          }
        }
      }
    }
  }

  .gift {
    .container {

      grid-template-columns: 270px;

      .gift-image {
        img {
          transform: translate(-12px, -14px);
        }
      }

      .gift-description {

        .gift-title {
          font-size: 29px;
        }
      }
    }

    .gift-leaf-right {
      img {
        top: -955px;
      }
    }

    .gift-leaf-left {
      img {
        bottom: -208px;
      }
    }
  }

  .work {
    .container {
      .work-title {
        font-size: 29px;
      }

      .work-items {
        .work-item-outer {
          width: 285px;
        }
      }
    }
  }

  .feedback {

    .container {

      .feedback-title {
        font-size: 29px;
        margin-bottom: 15px;
      }

      .owl-carousel {
        .owl-prev {
          top: 35%;
        }

        .owl-next {
          top: 35%;
        }
      }
    }
  }

  .service {
    .container {

      .service-info {
        max-width: 280px;
        box-sizing: border-box;
        padding: 50px 20px 27px;

        .service-title {
          font-size: 29px;
        }

        .service-items {

          .service-item {

            .service-item-icon {

              min-width: 28px;

              justify-content: left;

              img {
                width: 35px;
              }
            }
          }
        }
      }
    }
  }

  .footer {

    .container {
      max-width: 280px;
    }
  }


}


/* 320 - 374 */
@media screen and (max-width: 374px) {


}

@import "theme";





